.details-container{
    display: flex;;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img-container {
    width:65%;
    height: 100%;
    display: flex;
    border-right: 1px solid #ced4da;
    align-items: center;
    justify-content: center;
}

.img-container > img{
    width: 60%;
    object-fit: cover;
}

.info-container{
    width: 50%;
    align-self: flex-start;
    padding: 3rem;
    /* background: green; */
}

.info-container > h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.info-items {
    margin-left: 1.5rem;
}

.button-back{
    background: #4c6ef5;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4rem;
    color: white;
    margin-top: 8rem;
}

.button-back:hover{
    cursor: pointer;
    background: #5c7cfa;
}