.dashboard-container{
    margin-top: 1.5rem;
}

.dashboard-container > .content-container{
    width: 70%;
    margin: 4rem auto;
}

.dashboard-container > .content-container > .result-container{
    margin-top: 3rem;
}
