.base-layout-container{
    padding-bottom: 5rem;
}

.content-container{
    width: 100%;
}

.change-theme-container{
    position: fixed;
    bottom: 5rem;
    right: 6rem;
    width: 3.8rem;
}

.change-theme-container:hover{
    cursor: pointer;
}
